PORT=
MONGO_URI=
GEMINI_API_KEY=

# Email Configuration
EMAIL_SERVICE=
EMAIL_USER=abc@xyz.com
EMAIL_PASS=
EMAIL_RECEIVER=abc@xyz.com

FRONTEND_URL=http://localhost:xxxx

#Admin Credentials
ADMIN_EMAIL=
ADMIN_PASSWORD=

#Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=